*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
   color: blue;
}

h3{
    size: 22px;
    text-transform: uppercase;

}

p, label {
    color: rgb(100, 100, 100);
}
    label {
        display: inline-block;
        width: 100px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    
    button {
        width: 325px;
        padding: 7px;
        margin: 10px 0;
        background-color: blue;
        color: white;
    }

    button:hover{
        background-color: orange;
        color: blue;
    }


    img{
        height: 600px;
        width: auto;
        margin: 20px auto;    
    }
    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    figcaption{
        display: flex;
        justify-content: center;
    }

    .icon{
        width: 50px;
        height: auto;
    }